<button  (click)="showGridOrFormFn()">{{showGridOrFormVal}}</button>

<div *ngIf="visibleGridOrForm">
  <div class="show-hide-columns"> 
    <h4>Show/Hide Columns:</h4>
    <ng-container *ngIf="showOrHideColumnList">
      <div *ngFor="let column of showOrHideColumnList">
        <label>
          <input type="checkbox" 
                 [checked]="isColumnVisible(column)" 
                 (change)="onCheckboxChange($event, column)">
          {{ column }}
        </label>
      </div>
    </ng-container>
  </div>
  
  <ag-grid-angular
    style="width: 100%; height: 250px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="multiple"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onRowClick($event)">
  </ag-grid-angular>
  
  <div class="selected-row-data" *ngIf="selectedRowData.length > 0">
    <label style="font-weight: bold;">Selected Row Data:</label>
    <pre>{{ selectedRowData | json }}</pre>
  </div>
</div>
<div *ngIf="!visibleGridOrForm">
  <div class="container">
    <h2>Save & Update Form Data</h2>
    <form [formGroup]="userForm">
      <label>Name:</label>
      <input type="text" formControlName="name">
  
      <label>Email:</label>
      <input type="email" formControlName="email">
  
      <label>Phone:</label>
      <input type="text" formControlName="phone">
  
      <button (click)="saveData()">Save</button>
      <button (click)="updateData()">Update</button>
    </form>
  </div>
  
</div>

